<!-- SIDEBAR -->

     <aside class="sidebar">
        <div class="sidebar-header">
          <h2 class="sidebar-logo">Apolo </span></h2>
        </div>
      
        <nav class="sidebar-menu">
          <a class="nav-link" href="/dashboard">
            <i class="fa-solid fa-house"></i>
            <span>Inicio</span>
          </a>
          <a class="nav-link" href="/routines">
            <i class="fa-solid fa-dumbbell"></i>
            <span>Rutinas</span>
          </a>
          <a class="nav-link" href="/nutrition">
            <i class="fa-solid fa-apple-whole"></i>
            <span>Nutrición</span>
          </a>
          <a class="nav-link" href="/habits">
            <i class="fa-solid fa-heart-pulse"></i>
            <span>Hábitos</span>
          </a>
          <a class="nav-link" href="/stats">
            <i class="fa-solid fa-chart-line"></i>
            <span>Estadísticas</span>
          </a>
          <a class="nav-link" href="/profile">
            <i class="fa-solid fa-user"></i>
            <span>Perfil</span>
          </a>
        </nav>
      
        <div class="sidebar-footer">
          <button id="logout-btn" class="logout-btn">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Cerrar sesión</span>
          </button>
        </div>
      </aside>
      